
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
html,
body{ height: 100%; font-family: 'PT Sans', sans-serif; color: #000; font-size: 20px;  font-weight: 300;box-sizing: border-box;background: none repeat scroll 0 0 #f2f2f2;overflow-x:hidden;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.4;box-sizing: border-box;}
p{ padding: 0 0 20px;box-sizing: border-box;}
.section{  width: /*16.666% */100%; position: relative; float: left;}
.wrapper { margin:0 auto; max-width:1190px; width:100%;}
.full-wrapper {float:left; width:100%;}
.row { float:left; width:100%;position: relative;}
::-webkit-input-placeholder { color: #025d8c;}
:-moz-placeholder { /* Firefox 18- */ color: #025d8c; }
::-moz-placeholder {  /* Firefox 19+ */color: #025d8c;}
:-ms-input-placeholder {color: #025d8c;}

/*******************Header******************/

header.top-header{float:left;width:100%;background:#333}
.logo{float:left;max-width:200px;width:100%;margin:0;padding:0}
.logo a img { width: auto;}
nav.right-nav{float:right;margin:0;padding:0}
nav.right-nav ul{float:left;margin:0;padding:0;width:100%;position:relative}
nav.right-nav ul li a img {width:auto;}
nav.right-nav ul li{display:inline;float:left;border-right:1px solid #4e4e4e;margin:0;padding:12px 0}
nav.right-nav ul li:last-child{border-right:none}
nav.right-nav ul li a{color:#fff;font-size:13px;line-height:40px;padding:24px 18px;text-decoration:none;text-transform:uppercase}
nav.right-nav ul li a:hover{text-decoration:underline}
li.profile span img{border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;border:1px solid #ccc;margin:0 0 0 10px;max-width:40px}
nav.right-nav ul li.flag a{padding:0 22px 0 0;}
nav.right-nav ul li.flag a:first-child{padding:0 6px 0 0}
nav.right-nav ul li:nth-child(4) a{padding-right:0}
.main-header{background:#025d8c}
nav.left-nav{float:left;max-width:710px;margin:0;padding:0}
nav.left-nav ul{float:left;padding:0;position:relative;width:100%}
nav.left-nav ul li{display:inline;background:url(images/nav-sprite.png) no-repeat;float:left;border-right:1px solid #005483;margin:0;padding:39px 0 0}
nav.left-nav ul li.all{background-position:12px 6px}
nav.left-nav ul li.food{background-position:-54px 6px}
nav.left-nav ul li.travel{background-position:-178px 6px}
nav.left-nav ul li.health{background-position:-253px 6px}
nav.left-nav ul li.nightlife{background-position:-382px 6px}
nav.left-nav ul li.hobbies{background-position:-469px 6px}
nav.left-nav ul li a{border-bottom: 1px solid #005483;color:#fff;font-size:13px;line-height:40px;padding:50px 20px 10px;text-decoration:none;text-transform:uppercase}
.mainmenu ul ul{display: none; position: absolute; background: #025d8c;z-index: 999999; width:300px;}
.mainmenu ul ul li{float: none; min-width: 180px; position: relative;}
.mainmenu li:hover ul{display: block;}

.mainmenu li:hover li a{display: block; padding: 5px 15px; color: #FFF; text-decoration: none; background: none;}
.mainmenu li:hover li:hover a, .mainmenu li:hover li a:hover{background: #444;}

.mainmenu li:hover li:hover li a{display: block; padding: 5px 15px; color: #FFF; text-decoration: none; background: none;}
.mainmenu li:hover li:hover li a:hover{background: #444;}

.mainmenu ul ul ul{left: 100%; top: 0;}
.mainmenu li:hover ul ul{display: none;}
.mainmenu li:hover li:hover ul{display: block;}

.menu-icon{background: url(../img/menu-icon.png) no-repeat left center; width: 100%; height: 44px; line-height: 26px; cursor: pointer; margin: 8px 0 0 15px; font-size: 17px; color: #FFF; padding: 9px 0 9px 30px;}
.mainmenu ul .menu-icon{background: url(../img/down-arrow.png) no-repeat; width: 21px; height: 21px; position: absolute; font-size: 0; text-indent: -9999px; right: 5px; top: 3px; padding: 0; margin: 0;}

.head-search{float:right;margin:17px 0 0;max-width: 392px;width: 100%;}
.head-search input{border-radius:8px;o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;border:1px solid;color:#025d8c;padding:12px 10px;max-width:300px; width: 100%;background:#fff}
.head-search input[type=submit]{border-radius:8px;o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;border:1px solid;color:#025d8c;padding:12px 10px;background:#fff;max-width:86px;width: 100%;float: right;cursor:pointer;text-transform:uppercase}
.head-search input[type=submit]:hover{color:#fff;background:#025d8c}

/**********Slider Section******************/
.wrapper-slider{max-width:730px;margin:0 auto;width:100%}
.wrapper-slider h2{font-size:45px;font-weight:400;line-height:51px;margin:0;float:left;width:100%;color:#fff;padding:0 0 4px}
.wrapper-slider p{font-size:18px;font-weight:400;line-height:22px;margin:0 0 20px;color:#fff;float:left;width:100%;padding:0 0 4px}
.wrapper-slider a.deal-out{border:1px solid #fff;border-radius:6px;o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;clear:both;color:#fff;font-size:22px;font-weight:700;line-height:22px;margin:16px 0 0;padding:10px 24px;text-decoration:none}
.wrapper-slider a.deal-out:hover{color:#fff;background:#025d8c}
.wrapper-slider .hours-div{float:left;width:100%}
.wrapper-slider .hours-div ul{border-bottom:1px solid #fff;border-top:1px solid #fff;float:left;margin:30px 0 0;padding:10px 0 10px;width:100%}
.wrapper-slider .hours-div ul li{float:left;line-height: 50px;list-style:none none;text-align:center;font-size:60px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.hour-center{margin:0 auto;width:480px}
.wrapper-slider .hours-div ul li p{margin:0;padding:0}

/******************Container Section********************/
.scaner-section{background:#fff}
.scaner-inner h2{color:#025d8c;float:left;font-size:40px;font-weight:400;margin:0 0 30px;text-align:center;width:100%}
.scaner-inner ul{float:left;margin:0;padding:0;width:100%}
.scaner-inner{padding:23px 0 55px;position:relative}
.scaner-inner ul li{float:left;list-style:none none;margin:0;padding:0;width:100%; max-width: 274px;}
.scaner-inner ul li span img {width:100%;}
.scaner-inner ul li:nth-child(2){margin:0 30px}
.scaner-inner ul li:nth-child(3){margin:0 32px 0 0}
.scaner-inner ul li p{color:#292929;float:left;font-size:15px;font-weight:400;line-height:20px;margin:22px 0 0;padding:0 18px;text-align:center;width:100%}
.box-grid{float:left;margin:40px 0 0;padding:0;width:100%}
.box-grid:last-child{margin:40px 0}
.box-grid .box{background:#fff;overflow: hidden;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;float:left;margin:0 0 25px;position:relative;padding:0 0 23px;border-bottom:1px solid #ccc;max-width:360px; width:100%;}
.box-grid .box strong{color:#016096;float:left;margin:3px 0;font-size:14px;font-weight:700;text-align:center;width:100%}
.box-grid .box h2{color:#212121;float:left;font-size:17px;font-weight:400;line-height:20px;margin:0;padding:11px 0 4px;text-align:center;width:100%}
.box-grid .box p{color:#646464;float:left;font-size:14px;font-weight:400;line-height:22px;margin:0;padding:0 24px;text-align:center;width:100%}
.inner-box span img {width: 100%;}
.box-grid .box:nth-child(3n+2){margin:0 55px;}
.box-grid .box a.offer-bttn{background:#035f8e;border:none;border-radius:8px;o-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;clear:both;color:#fff;font-size:14px;font-weight:700;line-height:22px;margin:16px 0 0;padding:5px 17px;text-decoration:none}
.box-grid .box a.offer-bttn:hover{color:#035f8e;background:0 0;border:1px solid #035f8e}
.box-grid .box .hours-div{float:left;width:100%}
.box-grid .box .hours-div ul{float:left;margin:8px 0 0;padding:0;width:100%}
.box-grid .box .bttn-center{text-align:center;float:left;width:100%}
.box-grid .box .hours-div ul li{float:left;color:#646464;list-style:none none;text-align:center;font-size:24px}
.box-grid .box .hours-div ul li p{font-size:14px;line-height:10px;margin:0;text-transform:lowercase;padding:0;width: 100%; text-align: center;}
.box-grid .box .hour-center{margin:0 auto;width:188px}
.box-grid .box .fb-update{background:rgba(0,0,0,.4);border-radius:6px;float:left;height:100%;min-height:480px;padding:9px 0 7px;width:100%;opacity:0;transition:opacity .13s ease-out 0s}
.box-grid .box .fb-update:hover{text-decoration:underline}
.fb-update:hover{color:#fff;opacity:inherit!important}
.box-grid .box .facebook-overlay{left:0;width:100%}
.facebook-overlay{bottom:0px;left:5px;overflow:hidden;position:absolute;width:140px;z-index:5;border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}
.edit-pic{color:#fff;display:block;overflow:hidden;position:relative;text-align:left}
.box-grid .box .fb-update h2{color:#fff;font-size:20px;margin:0;padding:0;position:absolute;top:163px}
.fb-update i{background:#fff;border-radius:50%;o-border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;color:#000;font-size:29px;margin:0;padding:5px 6px;position:absolute;right:45%;top:25%}
.view-allbttn{float:left;width:100%;text-align:right;margin:25px 0}
.view-allbttn a{background:#035f8e;border:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;clear:both;color:#fff;font-size:20px;font-weight:400;line-height:22px;margin:16px 0 0;padding:10px 28px;text-decoration:none}
.view-allbttn a:hover{color:#035f8e;background:0 0;border:1px solid #035f8e}

/**************Footer section***************/
.footer-section{background:#1f1f1f;padding:20px 0;margin:40px 0 0}
.footer-left{float:left;margin:0;padding:0;max-width:280px;width:100%;}
.footer-left span{float:left;width:100%}
.footer-left p{clear:both;color:#dedede;float:left;font-size:14px;font-weight:700;line-height:17px;margin:0;padding:0;text-align:left;width:84%}
.footer-left ul{float:left;margin:10px 0 0;width:100%}
.footer-left ul li{background:url(images/social-icons.png) no-repeat;float:left;cursor:pointer;padding:23px}
.footer-left ul li.facebook{background-position:0 0}
.footer-left ul li.twitter{background-position:-46px 0}
.footer-left ul li.google{background-position:-91px 0}
.footer-left ul li.bloger{background-position:-137px 0}
.footer-left ul li.instagram{background-position:-183px 0}
.footer-right{float:right;max-width:490px; width:100%;}
.footer-right .footer-col{float:left;width:33%}
.footer-col h2{color:#dedede;font-size:18px;line-height:30px;margin:0;padding:0 0 18px}
.footer-col ul li a{color:#dedede;font-size:16px;font-weight:700;line-height:20px;margin:0;padding:0;text-decoration:none}
.footer-col ul li a:hover{text-decoration:underline}
.footer-bottom{background:#000}
.footer-bottom p{color:#434343;font-size:16px;line-height:30px;margin:0;padding:12px 0}



/*****************Category Page******************/

.pegination-div { float:left; width:100%;text-align: right;margin: 40px 0;}
.pegination-div ul {float:left; width:100%; margin:0; padding:0;}
.pegination-div ul li {display: inline; margin: 0; padding: 0;}
.pegination-div ul li.next {}
.pegination-div ul li.number {}
.pegination-div ul li.number a.active {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #035f8e;color: #035f8e;}
.pegination-div ul li a:hover {background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #035f8e;color: #035f8e;}
.pegination-div ul li.number a { padding: 10px 12px;}
.pegination-div ul li.prev {}
.pegination-div ul li a { background: none repeat scroll 0 0 #035f8e; border: medium none; border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px; clear: both; color: #fff;font-size: 20px;font-weight: 400;line-height: 22px;margin: 16px 0 0;padding: 10px 22px;text-decoration: none}

/******************Setting Page**************/

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: 1.4em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border:none; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 24em; margin: 18px 0 0 22px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{background:url(images/setting-arrow-active.png) center right no-repeat #025d8c;margin-bottom:-1px;padding-bottom:1px;width:260px}
.ui-tabs .ui-tabs-nav li{border-bottom-width:0;float:left;list-style:outside none none;margin:1px .2em 0 0;padding:0;position:relative;top:0;white-space:nowrap}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{background:#fff;border:none;color:#212121;font-weight:400}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:none;background:none repeat scroll 0 0 #fff;color:#555;font-weight:400}
.ui-tabs-panel h2 {color:#212121;float:left;font-size:20px;font-weight:400;line-height:20px;margin:0;padding:11px 0 4px;text-align:left;width:100%}
.ui-tabs-panel p{color:#646464;float:left;font-size:14px;font-weight:400;line-height:22px;margin:0;padding:0;text-align:left;width:100%}
.ui-tabs .ui-tabs-nav li a {color: #000; font-size: 14px;padding: 10px 7px;text-decoration: none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a  {color:#fff;}
.form-control {float: left; margin: 14px 0 0; width: 100%;}
.form-control label {color: #292929; font-size: 15px; padding: 2px 2px;text-decoration: none; float:left; width:100%;}
.form-control input {border-radius:6px;o-border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;border:1px solid #e3e3e3;color:#292929;padding:9px;width:100%;background:#fff;}
.form-control input[type=submit]{background:#035f8e;border:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color: #fff; cursor:pointer;float: right;font-size: 15px;font-weight: 400;line-height: 22px; margin: 16px 0 0;padding: 14px 0;text-decoration: none;text-transform: uppercase;width:180px;}


/*************Product Page***************/


.container-left { float: left; margin: 0;max-width: 710px; padding: 0;width: 100%;}
.container-right { float:right; max-width: 470px;width: 100%; margin:0; padding:0;}
.flexslider-thumb ul {}
.flexslider-thumb ul li{overflow: hidden;height: 100%;}
.flexslider-thumb ul li img { margin: 0; max-height: 500px; height:100%;max-width: 690px;padding: 0;width: 100%;}
.flexslider-thumb {margin:0 0 20px 0;}
.product-content, .terms-condition,.offer-made {width: 98%; margin: 0 0 18px; border-bottom: 2px solid #e3e3e3;border-left: 1px solid #ececec;border-right: 1px solid #ececec;background: none repeat scroll 0 0 #fff; border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px; float: left; padding: 10px 22px;}
.product-content h2, .terms-condition h2 {color:#292929;float:left;font-size:18px;font-weight:700;line-height:20px;margin:0;padding:11px 0 14px;text-align:left;width:100%}
.product-content p, .terms-condition p {color:#292929;float:left;font-size:15px;font-weight:400;line-height:22px;margin:0;padding:0 0 10px;text-align:left;width:100%}
.product-content span {}
.product-content span img {max-width: 700px;width: 100%;margin: 10px 0;}
.inner-container {margin:40px 0 0 0;}
.offer-made .hours-div{float:left;width:100%}
.offer-made .hour-center{margin:0;width:100%}
.offer-made .hours-div li.remain-time{width:100%;float:left}
.offer-made .hour-center ul li h2{color:#212121;font-size:17px;font-weight:400;line-height:20px;margin:0 0 6px 21px;padding:11px 0 4px;text-align:left}
.offer-made .hours-div ul{border-bottom:1px solid #eee;border-top:1px solid #eee;float:left;margin:18px 0 0 -23px;padding:0 0 12px;width:100%}
.offer-made .hours-div ul li{background:url(images/dot-blue.png) no-repeat scroll 0 18px rgba(0,0,0,0);color:#025d8c;float:left;font-size:44px;font-weight:400;line-height:34px;list-style:outside none none;margin:0;padding:0;text-align:center}
.offer-made .hours-div ul li:nth-child(2){background:none repeat scroll 0 0 rgba(0,0,0,0)}
.offer-made h2{color:#292929;font-size:21px;font-weight:400;line-height:24px;margin:0;padding:0 0 12px}
.offer-made span{color:#292929;font-size:18px;font-weight:700;line-height:24px;margin:0;padding:0 0 2px}
.offer-made .hours-div ul li p{color:#025d8c;float:left;font-size:24px;font-weight:400;line-height:28px;margin:0;padding:0;text-transform:lowercase;width:100%}
.place-offer span{float:left;width:100%;margin:20px 0 0}
.place-offer a.offer-bttn{background:none repeat scroll 0 0 #035f8e;border:medium none;border-radius:4px;clear:both;color:#fff;font-size:19px;font-weight:400;line-height:22px;margin:16px 0 0;padding:9px 10px;text-decoration:none}
.place-offer input{background:none repeat scroll 0 0 #fff;border-color:#ddd #ddd #ddd -moz-use-text-color;border-radius:0 4px 4px 0;border-style:solid solid solid none;border-width:1px 1px 1px medium;color:#eee;font-size:28px;margin:-4px 0 0;padding:6px 10px;text-align:right;width:142px}
.place-offer input[type="submit"]{background:none repeat scroll 0 0 #faab19;border:medium none;border-radius:4px;color:#292929;cursor:pointer;float:right;font-size:17px;padding:11px;text-align:center;text-transform:uppercase;width:112px}
.place-offer input[type=submit]:hover{color:#fff;background:#025d8c}
a.tooltips{position:relative;display:inline;float:left;width:100%}
a.tooltips span{background:url(images/info-icon.png) no-repeat scroll 14px 13px #c9edff;border-radius:4px;color:#292929;font-size:16px;font-weight:400;height:auto;line-height:20px;padding:10px 16px 10px 60px;text-align:left;width:100%;max-width:416px}
a.tooltips span::after{border-bottom:8px solid #c9edff;border-left:13px solid transparent;border-right:13px solid transparent;content:"";height:0;margin-left:0;position:absolute;right:144px;top:12px;width:0}
a.tooltips:hover span{visibility:visible}
.offer-details{border-top:1px solid #eee;float:left;margin:20px 0 0;padding:15px 0 0;width:100%}
.offer-details h2{color:#292929;font-size:24px;font-weight:700;line-height:24px;margin:0;padding:0 0 12px}
.offer-details h2 small{font-weight:400;font-size:19px}
.offer-details ul{float:left;margin:0 0 0 10px;position:relative;padding:0;list-style:outside none none;}
.offer-details ul li{float:left;line-height:22px;margin:0;padding:0;width:100%}
.offer-details ul li.active a{color:#faab19}
.offer-details ul li a{color:#3f3f3f;font-size:16px;margin:0;text-decoration:none}
.offer-details ul li a:hover{text-decoration:underline}
.offer-details ul li a i{float:left;padding:5px 13px 0 0}
span.profile-link{float:right;min-height:112px;position:relative;}
.sidebar-grid{margin:0}.sidebar-grid:last-child{margin:0}
.sidebar-grid .box:nth-child(2){margin:0 0 17px}
.sidebar-grid .box:nth-child(3){float:left}
span.profile-link a{bottom:0;color:#3f3f3f;font-size:16px;font-weight:400;margin:0;position:absolute;right:0;text-align:right;text-decoration:none;width:200px}
span.profile-link a:hover{text-decoration:underline}
.sidebar-grid .box{max-width:460px; width:100%;padding:0 0 16px;margin:0 0 17px}
.sidebar-grid span img{width:100%;max-height:200px}
.sidebar-grid .box h2{padding:7px 14px 4px;text-align:left}
.sidebar-grid .box p{padding:0 14px 4px;text-align:left;width:74%;line-height:17px}
.sidebar-grid .box strong{padding:0 14px 1px;text-align:left}
.sidebar-grid .box .bttn-center{padding:0 14px 4px;text-align:left}
.sidebar-grid .box span{width:100%;float:left;position:relative}
.sidebar-grid .box .hours-div{background:none repeat scroll 0 0 rgba(0,0,0,0.5);bottom:7px;padding:2px 0 6px;position:absolute;text-align:right;width:100%}
.sidebar-grid .box .hours-div ul{float:right;margin:0;padding:0;width:auto}
.sidebar-grid .hours-div ul li p{color:#fff;text-align:right}
.sidebar-grid .box .hours-div ul li{color:#fff;background:url(images/dot-white.png) no-repeat scroll 0 18px rgba(0,0,0,0)}
.sidebar-grid .box .hours-div ul li:first-child{background:none}
.image-caption{width:100%;float:left;position:relative}
.hour-center ul li{background:url(images/dot-black.png) no-repeat scroll 0 18px rgba(0,0,0,0)}
.hour-center ul li:first-child{background:none}

pre {margin-top: 150px;  z-index: 999999999;}

.form{ padding: 0 150px}
.form { font-size: 16px}
.form .login-sec{ width:45%; float: left}
.form .register-sec{ width:45%; float: right}
.form h3{ margin: 0 0 20px; border-bottom: 1px solid #ccc ; padding: 0 0 10px; margin: 0 0 20px; font-size: 25px; text-transform: uppercase}
.form .form-control{ margin: 0 0 10px}

.login-with-facebook{ padding: 150px 0 0}

/*Alert box*/
.add-popup-wrap .ui-widget-header {
	border: 1px solid #025d8c;
	background: #025d8c 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}

/* Header Dropdown 6/may */


nav.right-nav ul li ul{  background: #333333; position: absolute; right: 0; top: 64px; width: 263px; z-index: 999; display: none;}
nav.right-nav ul li:hover ul{display:block;}
nav.right-nav ul li ul li{float:left; width:100%; box-sizing: border-box; padding:10px; border-bottom: 1px solid #191919; cursor: pointer;]}
nav.right-nav ul li ul li:hover{background: #191919}
nav.right-nav ul li ul li img{float:left;}
nav.right-nav ul li ul li .offer-right{float:right; width:75%; color:#fff; font-size: 13px; line-height: 16px;}
nav.right-nav ul li ul li .offer-right span{float:left; width:100%; text-transform: uppercase; padding-left:17px; margin:3px 0;}
nav.right-nav ul li ul li .offer-right span.got-offer{background: url(images/star.png) no-repeat left center; color:#ffbc0b;}
nav.right-nav ul li ul li .offer-right span.winning{background: url(images/winning.png) no-repeat left center; color:#11ec14;}
nav.right-nav ul li ul li .offer-right span.loosing{background: url(images/loosing.png) no-repeat left center; color:#fd0006;}
nav.right-nav ul li ul li.view-all{ text-align: center; text-transform: uppercase; padding:2px 0;}
nav.right-nav ul li ul li.view-all a{background: url(images/listing.png) no-repeat left; padding-top:0; padding-bottom:0; line-height: 25px; padding-left:23px;}
nav.right-nav ul li.profile ul li a{box-sizing: border-box; display: inline-block; line-height: inherit; padding-bottom: 10px; padding-left: 25px; padding-top: 10px; width: 100%;}
nav.right-nav ul li.profile ul li a:hover{text-decoration: none;}
nav.right-nav ul li.profile ul li.setting-menu a{background: url(images/setting.png) no-repeat left center;}
nav.right-nav ul li.profile ul li.past-offers-menu a{background: url(images/listing.png) no-repeat left center;}
nav.right-nav ul li.profile ul li.profile-menu a{background: url(images/profile.png) no-repeat left center;}
nav.right-nav ul li.profile ul li.Logout-menu a{background: url(images/logout.png) no-repeat left center;}
nav.right-nav ul li.profile ul li {padding:10px 25px;}

/* 8/may */
.full-wrapper.container-div.setting-page {padding:40px 0;}
.full-wrapper.container-div.setting-page .ui-widget-content{background: none; border:none; margin-top:0; padding-top:0;}
.full-wrapper.container-div.setting-page .ui-widget-header{background: none; border:none;}
.full-wrapper.container-div.setting-page .ui-tabs .ui-tabs-nav li.ui-tabs-active{border-radius:0;}
.full-wrapper.container-div.setting-page .ui-tabs .ui-tabs-nav li a{font-size:15px; font-weight:normal; padding:10px 1em; display: block; float: none}
.full-wrapper.container-div.setting-page .ui-tabs .ui-tabs-nav li.ui-state-default{background: #fff; width:100%; border-radius: 0;}

.full-wrapper.container-div.setting-page .ui-tabs .ui-tabs-nav li.ui-tabs-active { background: #025d8c; margin-bottom: 0; padding-bottom: 0px;  position: relative}
.full-wrapper.container-div.setting-page .ui-tabs .ui-tabs-nav li.ui-tabs-active:after{ content: ""; background: url(images/setting-arrow-active.png) no-repeat right 0; height: 41px; width: 30px; position: absolute; right:-18px; top: 0 }


.full-wrapper.container-div.setting-page .form-control{margin:0 0 15px;}
.full-wrapper.container-div.setting-page .form-control input[type=text]{ background: #fff; border: 1px solid #e3e3e3; border-radius: 6px; color: #292929; font-size: 14px !important; height: 33px; padding: 5px 9px; width: 100%;}

label.error, div.error-message { background: #FAEBE7; font-size: 12px !important; margin: 5px -7px -10px; padding: 8px 10px 5px 10px; text-shadow: 0 1px 0 #fff; display: block; color: #f00 !important; text-align: center; margin: 0 auto;
 max-width: 1010px;}

div.message.success { clear: both; font-size: 80%; margin: 0 0 1px 0; padding: 5px; color: #fff; background: #0B56A2; border: 1px solid rgba(0, 0, 0, 0.5); background-repeat: repeat-x; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); text-align: center; margin: 0 auto 0;
 max-width: 1190px;}

div.message.error { clear: both; font-size: 80%; margin: 0 0 1px 0; padding: 5px; color: #fff; background: brown; border: 1px solid rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); text-align: center; margin: 0 auto 0;
 max-width: 1190px;}

div.message.success#jsFlashMessage {  clear: both; font-size: 80%; margin: 0 0 1px 0; padding: 5px; color: #fff; background: #0B56A2; border: 1px solid rgba(0, 0, 0, 0.5); background-repeat: repeat-x; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); text-align: center; margin: 0 auto 0;
 max-width: 1190px; position: fixed; width: 1190px; left: 12.4%;}

div.message.error#jsFlashMessage { clear: both; font-size: 80%; margin: 0 0 1px 0; padding: 5px; color: #fff; background: brown; border: 1px solid rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); text-align: center; margin: 0 auto 0;
 max-width: 1190px; position: fixed; width: 1190px; left: 12.4%;}
 
.forgot-pass{ float: right; font-size: 12px; color: #666}
.forgot-pass a{color: #035f8e }
